body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #5fcf80; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Header */
.header .home-icon {
    position: relative;
    top: -1px;
    color: black;
}
.header .library-icon {
    color: black;
}

/* Search Album */
form #search-album {
    border: 2px solid black;
    height: 40px;
    color: black;
    border-radius: 0;
}
form #search-album-submit {
    border: 2px solid black;
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 0;
}
.choose-album {
    width: 110px;
    height: 110px;
}

/* My List */
.my-albums {
    height: 150px;
    width: 150px;
}